
$white: #fff;
$cyan: #8DEAED;
$dark:#212F3D;
$ired: #CD6155;
$gris: rgb(230, 230, 230);
$black:black;
$roboto:'Roboto', sans-serif;
$small: small;
$large: large;
$x-large: x-large;
$xx-large: xx-large;
$xxx-large: xxx-large;
$regular: 400;
$bold: 700;
$medium: 600;